body {
	font-family: 'Karla', sans-serif;
	margin-top: 31px;
	background-color: hsl(204, 43%, 93%);
}

#first {
	height: 250px;
	background-color: white;
}

#second {
	height: 311px;
}

#heading {
	color: hsl(179, 62%, 43%);
	padding: 35px 0px 5px 30px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.subheading {
	padding: 35px 0px 5px 30px;
	margin-top: 10px;
	margin-bottom: 2px;
	opacity: 0.8;
}

.price {
	padding: 10px 5px 5px 30px;
	font-size: 35px;
}

.price span {
	padding-top: 0px; 
	margin-left: 13px;
	font-size: 0.5em;
	opacity: 0.6;
}

#guarantee {
	color: hsl(71, 73%, 54%);
	padding: 45px 0px 5px 30px;
	font-size: 24px;
}

#descrip {
	color: hsl(218, 22%, 67%);
	padding: 8px 0px 5px 30px;
	margin-top: 4px;
	margin-bottom: 3px;
	font-size: 20px;
}


.back1 {
	background-color: hsl(179, 62%, 43%);
	height: 311px;
}

.back2 {
	background-color: hsl(179, 59%, 47%);
	height: 311px;
}

#text {
	padding: 11.5px 5px 0px 30px;
	opacity: 0.6;
}

.row {
	color: white;
}

.row p {
	padding: 0px 5px 5px 30px;
	opacity: 0.7;
	font-size: 17px;
	margin-bottom: 11px;
}

button {
	background-color: hsl(71, 73%, 54%);
	color: hsl(204, 43%, 93%);
	margin-left: 30px;
	margin-top: 2px;
	width: 247px;
	line-height: 45px;
	border-radius: 6px;
	border-color: hsl(71, 73%, 54%);
}


